<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend>Login</legend>
		<div class="field">
			<label class="required" for="login">Login</label>
			<input type="text" id="login" name="login" maxlength="255" ng-model="ctrl.user.login" required/>
		</div>
		<div class="field">
			<label class="required" for="password">Password</label>
			<input type="password" id="password" name="password" maxlength="255" ng-model="ctrl.user.password" ng-minlength="3" required/>
			<span class="invalid" ng-show="form.password.$error.required || form.password.$error.minlength">Minimal count of symbols is 3</span>
		</div>
		<div class="field simple">
			<label for="remember">Remember</label>
			<input type="checkbox" id="remember" name="remember" ng-model="ctrl.user.remember"/>
		</div>
		<div>
			<button class="btn btn-primary" ng-click="ctrl.login()" ng-disabled="form.$invalid || ctrl.dataLoading">Login</button>
			<button class="btn btn-default" ui-sref="register">Register</button>
			<div class="img-load" ng-if="ctrl.dataLoading"></div>
		</div>
	</fieldset>
</form>