<form method="POST" class="form-submit form-validation" name="form" novalidate>
	<fieldset>
		<legend>Profile photo</legend>
		<div class="field">
			<input type="file" id="photo" name="photo" ng-model="ctrl.user.photo" file-model="photoFile" required file-required/>
		</div>
		<div>
			<button class="btn btn-primary" ng-click="ctrl.update()" ng-disabled="form.$invalid || ctrl.dataLoading">Submit</button>
			<button class="btn btn-default" ui-sref="profile">Profile</button>
			<div class="img-load" ng-if="ctrl.dataLoading"></div>
		</div>
	</fieldset>
</form>