<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend>Topic</legend>
		<div class="field">
			<label class="required" for="name">Name</label>
			<input type="text" id="name" name="name" maxlength="255" ng-model="ctrl.topic.name" required/>
		</div>
		<div class="field">
			<label class="required" for="path">Path</label>
			<input type="text" id="path" name="path" maxlength="255" ng-model="ctrl.topic.path" ng-path-exist required/>
			<span class="invalid" ng-show="form.path.$pending.ngPathExist">Checking if this path is available...</span>
			<span class="invalid" ng-show="form.path.$error.ngPathExist && !ctrl.validatePath()">This path is already taken</span>
			<span class="valid" ng-show="!form.path.$pending.ngPathExist && ctrl.validatePath()">This is current path</span>
		</div>
		<div class="field">
			<label class="required" for="description">Description</label>
			<input type="text" id="description" name="description" maxlength="255" ng-model="ctrl.topic.description" required/>
		</div>
		<div class="field simple">
			<label for="publicAccess">Public topic</label>
			<input type="radio" id="publicAccess" name="publicAccess" ng-model="ctrl.topic.access" ng-value="true">
		</div>
		<div class="field simple">
			<label for="privateAccess">Private topic</label>
			<input type="radio" id="privateAccess" name="privateAccess" ng-model="ctrl.topic.access" ng-value="false">
		</div>
		<div>
			<button class="btn btn-primary" ng-click="ctrl.editTopic()" ng-disabled="(form.$invalid && !ctrl.validatePath()) || ctrl.dataLoading || !ctrl.permissions()">Submit</button>
			<div class="img-load" ng-if="ctrl.dataLoading"></div>
		</div>
	</fieldset>
</form>