<div id="{{handler}}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<select ng-controller="ChosenController as ctrl" chosen multiple options="users" ng-model="ctrl.usersId" ng-options="user.id as user.login for user in users"></select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="">Invite</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>