<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend>Register</legend>
		<div class="field">
			<label class="required" for="login">Login</label>
			<input type="text" id="login" name="login" maxlength="255" ng-model="ctrl.user.login" ng-login-exist required/>
			<span ng-show="form.login.$pending.ngLoginExist">Checking if this login is available...</span>
			<span ng-show="form.login.$error.ngLoginExist">This login is already taken</span>
		</div>
		<div class="field">
			<label class="required" for="password">Password</label>
			<input type="password" id="password" name="password" maxlength="255" ng-model="ctrl.user.password" ng-minlength="3" required/>
			<span ng-show="form.password.$error.required || form.password.$error.minlength">Minimal count of symbols is 3</span>
		</div>
		<div class="field">
			<label class="required" for="confirm_password">Confirm password</label>
			<input type="password" id="confirm_password" name="confirm_password" maxlength="255" ng-model="user.confirm_password" ng-match="ctrl.user.password" ng-minlength="3" required/>
			<span ng-show="form.confirm_password.$error.required || form.confirm_password.$error.minlength">Minimal count of symbols is 3</span>
			<span ng-show="form.confirm_password.$error.ngMatch && !form.confirm_password.$error.required && !form.confirm_password.$error.minlength">Passwords do not match</span>
		</div>
		<div class="field simple">
			<label for="remember">Remember</label>
			<input type="checkbox" id="remember" name="remember" ng-model="ctrl.user.remember"/>
		</div>
		<div>
			<button class="btn btn-primary" ng-click="ctrl.register()" ng-disabled="form.$invalid || ctrl.dataLoading">Register</button>
			<button class="btn btn-primary" ui-sref="login">Login</button>
			<img ng-if="ctrl.dataLoading" src="/social/img/load.gif"/>
		</div>
	</fieldset>
</form>