<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend>Topic</legend>
		<div class="field">
			<label class="required" for="name">Name</label>
			<input type="text" id="name" name="name" maxlength="255" ng-model="ctrl.topic.name" ng-topic-name-exist required/>
		</div>
		<div class="field">
			<label class="required" for="urlName">Path</label>
			<input type="text" id="path" name="path" maxlength="255" ng-model="ctrl.topic.path" ng-path-exist required/>
			<span ng-show="form.login.$pending.ngPathExist">Checking if this path is available...</span>
			<span ng-show="form.login.$error.ngPahtExist">This path is already taken</span>
		</div>
		<div class="field">
			<label class="required" for="description">Description</label>
			<input type="text" id="description" name="description" maxlength="255" ng-model="ctrl.topic.description" required/>
		</div>
		<div class="field">
			<label class="required" for="access">Access</label>
			Public topic<input type="radio" id="access" name="access" ng-model="ctrl.topic.access" value="true">
			Private topic<input type="radio" id="access" name="access" ng-model="ctrl.topic.access" value="false">
		</div>
		<div>
			<button class="btn btn-primary" ng-click="ctrl.createTopic()" ng-disabled="form.$invalid || ctrl.dataLoading">Submit</button>
			<img ng-if="ctrl.dataLoading" src="/social/img/load.gif"/>
		</div>
	</fieldset>
</form>