.ac-container .ac-menu {
	padding: 0;
}
.ac-container .ac-menu a {
	background: #ffffff;
	border: 1px solid #cccccc;
	color: inherit;
	display: block;
	margin-top: -1px;
	padding: 9px 15px;
	text-decoration: none;
	vertical-align: middle;
}
.ac-container .ac-menu a:hover {
	background: #575757;
	color: #ffffff;
}
.ac-highlight {
	font-weight: 600;
	text-decoration: underline;
}
.ac-info {
	color: #aaaaaa;
	font-size: 15px;
	margin-right: 10px;
	margin-top: -28px;
	position: absolute;
	right: 0;
	z-index: 2;
}
.ac-link {
	position: relative;
}