body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	width: 100%;
}
hr.footer {
	background-color: #575757;
	border: none;
	height: 1px;
}
hr.header {
	background-color: #eb0606;
	border: none;
	height: 5px;
	margin: 0;
}
img.logo {
	height: 70px;
}
.container {
	margin: 0 auto;
	width: 1000px;
}
.flex {
	flex: 1;
}
.footer {
	margin-bottom: 20px;
	text-align: center;
}
.justify {
	display: flex;
	justify-content: space-between;
}