body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	width: 100%;
}
hr.footer {
	background-color: #575757;
	border: none;
	height: 1px;
}
hr.header-menu {
	background-color: #eb0606;
	border: none;
	height: 5px;
	margin: 0;
}
hr.header-user {
	background-color: #292929;
	border: none;
	height: 5px;
	margin: 0;
}
.container {
	margin: 0 auto;
	width: 1000px;
}
.flex {
	flex: 1;
}
.footer {
	margin-bottom: 20px;
	text-align: center;
}
.justify {
	display: flex;
	justify-content: space-between;
}
.justify > * {
	vertical-align: middle;
}
.welcome-title {
	color: #eb0606;
	font-size: 80px;
	font-style: italic;
	margin: 30px;
	text-align: center;
}
.welcome-title > .logo {
	background-image: url(/social/img/icon.png);
	background-repeat: no-repeat;
	background-size: 100px;
	display: inline-block;
	height: 100px;
	width: 100px;
}