<div class="content ct-title" ng-controller="PostEditController as postCtrl">
	<modal handler="invite" modal-body="body" modal-footer="footer" modal-header="header" data-ng-click-right-button="myRightButton()"></modal>
	<div class="justify">
		<div>
			<div class="topic">{{ctrl.topic.name}}</div>
		</div>
		<div class="align-right">
			<div class="dropdown">
				<div class="drp-button"></div>
				<div class="drp-menu">
					<div ng-show="ctrl.member">
						<div class="drp-option" ng-click="postCtrl.creationForm(ctrl.member)">Create post</div>
						<hr class="hr-dropdown">
					</div>
					<div ng-show="user.id !== ctrl.topic.creator.id">
						<a class="drp-option" ng-click="ctrl.joinTopic()" ng-show="ctrl.topic.access && !ctrl.member">Join</a>
						<a class="drp-option" ng-click="postCtrl.hideForm(); ctrl.leaveTopic()" ng-show="ctrl.member && (user.id !== ctrl.topic.creator.id)">Leave</a>
					</div>
					<div ng-show="user.id === ctrl.topic.creator.id">
						<a class="drp-option" ui-sref="topic_edit({path: ctrl.topic.path})">Edit topic</a>
						<a class="drp-option" ng-href="#{{invite}}" ng-click="init(ctrl.topic.creator.id)" data-toggle="modal">Invite</a>
					</div>
				</div>
			</div>
			<div ng-show="!ctrl.topic.access">Private topic</div>
		</div>
	</div>
	<hr class="hr-common">
	<div>{{ctrl.topic.description}}</div>
	<form method="POST" ng-show="postCtrl.form" name="form" novalidate>
		<textarea id="text" name="text" ng-model="postCtrl.post.text" required></textarea>
		<div>
			<button class="btn btn-primary" ng-click="postCtrl.createPost(ctrl.topic.id, 0)" ng-disabled="form.$invalid || postCtrl.dataLoading">Submit</button>
			<button class="btn btn-danger" ng-click="postCtrl.hideForm()">Cancel</button>
			<img ng-if="postCtrl.dataLoading" src="/social/img/load.gif"/>
		</div>
	</form>
</div>