body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	width: 100%;
}
hr.hr-common {
	background-color: #292929;
	border: none;
	height: 1px;
}
hr.hr-comments {
	background-color: #292929;
	border: none;
	height: 2px;
	margin: 0;
}
hr.hr-dropdown {
	background-color: #292929;
	border: none;
	height: 1px;
	margin: 0 8px;
}
hr.hr-header-menu {
	background-color: #eb0606;
	border: none;
	height: 5px;
	margin: 0;
}
hr.hr-header-user {
	background-color: #292929;
	border: none;
	height: 5px;
	margin: 0;
}
.align-right {
	text-align: right;
}
.container {
	margin: 0 auto;
	width: 1000px;
}
.flex {
	flex: 1;
}
.footer {
	margin-bottom: 20px;
	text-align: center;
}
.img-photo {
	background-repeat: no-repeat;
	background-size: 50px;
	height: 50px;
	width: 50px;
}
.img-default-photo {
	background-image: url('../img/default-photo.png');
}
.img-load {
	background-image: url('../img/load.gif');
	background-repeat: no-repeat;
	background-size: 15px;
	display: inline-block;
	height: 15px;
	width: 15px;
}
.justify {
	display: flex;
	justify-content: space-between;
}
.justify > * {
	vertical-align: middle;
}
.comments-title {
	font-size: 25px;
	font-weight: 600;
	margin: 10px 0 10px;
}
.welcome-title {
	color: #eb0606;
	font-size: 80px;
	font-style: italic;
	margin: 30px auto;
	text-align: center;
}
.welcome-title > .logo {
	background-image: url('../img/icon.png');
	background-repeat: no-repeat;
	background-size: 100px;
	display: inline-block;
	height: 100px;
	width: 100px;
}