.content {
	display: block;
	margin: 15px 0;
	padding: 15px;
}
.ct-title {
	border: 5px solid #eb0606;
}
.ct-content {
	border: 2px solid #292929;
}
.ct-level-2 {
	margin-left: 50px;
}
.ct-level-3 {
	margin-left: 100px;
}
.topic {
	color: #292929;
	font-family: sans-serif;
	font-size: 20px;
}
.link-topic {
	color: #eb0606;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}
.link-topic:hover,
.link-topic:active {
	text-decoration: underline;
}
.post {
	max-height: 300px;
	overflow: auto;
	text-align: justify;
}
.model-info > * {
	display: inline-block;
	vertical-align: bottom;
}
.model-info .name {
	font-weight: 600;
}
.model-info .date {
	font-family: monospace;
}
.model-info .comments-count {
	font-family: monospace;
	font-style: italic;
}