.dropdown {
	display: inline-block;
	margin: 0 5px 5px;
	position: relative;
	text-align: left;
}
.drp-button {
	background-image: url('../img/dropdown.png');
	cursor: pointer;
	height: 4px;
	margin: 5px 0;
	width: 18px;
}
.drp-menu {
	box-shadow: 0px 4px 16px 0px #292929;
	display: none;
	position: absolute;
	min-width: 120px;
	z-index: 2;
}
.drp-menu .drp-option {
	background: #ffffff;
	color: #292929;
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}
.drp-menu .drp-option:hover {
	background: #292929;
	color: #ffffff;
	cursor: pointer;
}
.dropdown:hover .drp-menu {
	display: block;
}