.navbar {
	background: #ffffff;
}
.navigation {
	margin: 0;
	padding: 0;
}
.navigation > li {
	display: inline-block;
	font-family: "Berlin Sans FB";
}
.navigation > li.main {
	padding: 5px 0;
}
.navigation > li > a,
.navigation > li > button.link {
	display: inline-block;
	font-family: "Berlin Sans FB";
	font-size: 20px;
	padding: 15px 20px;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.navigation > li.main > a,
.navigation > li.main > button.link {
	background-image: url('../img/icon.png');
	background-repeat: no-repeat;
	background-size: 70px;
	height: 70px;
	margin-right: 25px;
	padding: 0;
	width: 70px;
}
.navbar-menu > li.main:hover {
	background: transparent;
}
.navbar-menu > li.main:active {
	background: transparent;
}
.navbar-menu > li:hover {
	background: #eb0606;
}
.navbar-menu > li:active {
	background: #eb0606;
}
.navbar-menu > li > a,
.navbar-menu > li > button.link {
	color: #eb0606;
}
.navbar-menu > li:hover > a,
.navbar-menu > li:active > a,
.navbar-menu > li:hover > button.link,
.navbar-menu >  li:active > button.link {
	color: #ffffff;
}
.navbar-user > li:hover {
	background: #292929;
}
.navbar-user > li:active {
	background: #292929;
}
.navbar-user > li > a,
.navbar-user > li > button.link {
	color: #292929;
}
.navbar-user > li:hover > a,
.navbar-user > li:active > a,
.navbar-user > li:hover > button.link,
.navbar-user > li:active > button.link {
	color: #ffffff;
}