<div class="content ct-content" ng-repeat="post in ctrl.posts">
	<div class="justify">
		<a class="link-topic" ui-sref="topic({path: post.topic.path})">{{post.topic.name}}</a>
		<div>Created by {{post.creator.login}} ({{post.date | date: 'dd MMMM yyyy HH:mm:ss'}})</div>
	</div>
	<hr class="common">
	<div ng-controller="PostEditController as postCtrl">
		<div class="edit" ng-click="postCtrl.editionForm(post)" ng-show="(user.id === post.creator.id) && !postCtrl.form">Edit</div>
		<div class="post" ng-show="!postCtrl.form">{{post.text}}</div>
		<div class="form-validation" ng-show="postCtrl.form">
			<textarea id="text" name="text" ng-model="postCtrl.post.text" required></textarea>
			<div>
				<button class="btn btn-primary" ng-click="postCtrl.updatePost(post.id)" ng-disabled="form.$invalid || postCtrl.dataLoading">Submit</button>
				<button class="btn btn-danger" ng-click="postCtrl.hideForm()">Cancel</button>
				<img ng-if="postCtrl.dataLoading" src="/social/img/load.gif"/>
			</div>
		</div>
	</div>
</div>