<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">

  <import resource="config/DataSource.xml"/>
  <import resource="config/Hibernate.xml"/>
  <import resource="config/Security.xml"/>

  <context:component-scan base-package="by.training"/>
  <mvc:annotation-driven/>
  <mvc:resources mapping="/**" location="/"/>
  <tx:annotation-driven/>

  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/html/" />
    <property name="suffix" value=".html" />
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="postDAO" class="by.training.database.editor.PostDatabaseEditor">
    <constructor-arg>
      <ref bean="sessionFactory"/>
    </constructor-arg>
  </bean>

  <bean id="roleDAO" class="by.training.database.editor.RoleDatabaseEditor">
    <constructor-arg>
      <ref bean="sessionFactory"/>
    </constructor-arg>
  </bean>

  <bean id="topicDAO" class="by.training.database.editor.TopicDatabaseEditor">
    <constructor-arg>
      <ref bean="sessionFactory"/>
    </constructor-arg>
  </bean>

  <bean id="userDAO" class="by.training.database.editor.UserDatabaseEditor">
    <constructor-arg>
      <ref bean="sessionFactory"/>
    </constructor-arg>
  </bean>

  <bean id="relationDAO" class="by.training.database.editor.RelationDatabaseEditor">
    <constructor-arg>
      <ref bean="sessionFactory"/>
    </constructor-arg>
  </bean>
</beans>